**/db2.js
**/node_modules/
**/package-lock.json
**.env
**.sql


details.dtl_cpo.replace(/\s+/g, '').split('-')[1].padStart(8, '0'); 
const parts = cpo.split('-');
const middle = parts[1] ? parts[1].padStart(8, '0') : null;